﻿@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Records</title>

    <!-- TODO add style and script contents to external files -->
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

      const hostname = 'https://networthapp.azurewebsites.net';

      // Fill table with data from connection
      function populateTable() {
        var url = hostname + '/api/GetData';
        $.getJSON(url, function(result) {
            var innerhtml = '';
            $.each(result, function (i, item) {
                innerhtml += '<tr>';
                innerhtml += '<td>' + result[i].type + '</td>';
                innerhtml += '<td>' + result[i].name + '</td>';
                innerhtml += '<td>$' + result[i].balance + '</td>';
                innerhtml += '</tr>';
            });

            $('#table').append(innerhtml);
        });
      }
      window.onload = populateTable;

      // Adds an entry to the table
      function addEntry() {
          var type = document.getElementById("recordType").value;
          var name = document.getElementById("recordName").value;
          var balance = document.getElementById("recordBalance").value;
          var input = type + " " + name + " " + balance;
          var url = hostname + '/api/PostData/' + input;

          $.post(url, input, function(result) {
              // Refresh display
              refresh();

              if (result != "invalid input" && 
                    result != "unable to access database") 
                {
                    // result = type name balance
                    var res = result.split(" ");
                    var innerhtml = '<tr>';
                    innerhtml += '<td>' + res[0] + '</td>';
                    innerhtml += '<td>' + res[1] + '</td>';
                    innerhtml += '<td>$' + res[2] + '</td>';
                    innerhtml += '</tr>';
                    $('#table').append(innerhtml);
                }
          });
      }

      // Deletes an entry from the table
      function deleteEntry() {
          var nameField = document.getElementById("nameDelete").value;
          var indexField = document.getElementById("indexDelete").value;
          if (nameField == "") { nameField = "na"; }
          if (indexField == "") { indexField = "na"; }
          var url = hostname + '/api/DeleteData/' + nameField + "/" + indexField;

          $.post(url, { nameField: nameField, indexField: indexField }, function(result) {
              console.log(result);
              if (result != "invalid input") {
                location.reload();
                refresh();
              }
          });
      }

      // Refresh stats shown to the user
      function refresh() {

          var url = hostname + '/api/analyze/Networth';
          var networth = "";
          var assetTotal = "";
          var liabilitiesTotal = "";

          $.get(url, function(result) {
              console.log(result);
              networth = result;
              $("#networth").text("$" + networth);
          });

          url = hostname + '/api/analyze/AssetsTotal';
          $.get(url, function(result) {
              assetTotal = result;
              $("#assetsTotal").text("$" + assetTotal);
          });

          url = hostname + '/api/analyze/LiabilitiesTotal';
          $.get(url, function(result) {
              liabilitiesTotal = result;
              $("#liabilitiesTotal").text("$" + liabilitiesTotal);
          });
      }

    </script>
  </head>
  <body>
      <form id="updateRecords">
        <h2>Input Record</h2>
        <div>
            <label>Type (Asset or Liability)</label>
            <input type="text" id="recordType" value="" tabindex="1">
        </div>
        <div>
            <label>Name (title of record)</label>
            <input type="text" id="recordName" value="" tabindex="2">
        </div>
        <div>
            <label>Balance (balance modifier)</label>
            <input type="text" id="recordBalance" value="0" tabindex="3">
        </div>
        <div>
            <button type="button" onclick="addEntry()">Submit</button>
        </div>
        <div>
            <p><b>Delete entry by name/index</b></p>
            <label>Name:</label>
            <input type="text" id="nameDelete" value="" tabIndex="4">
        </div>
        <div>
            <Label>Index:</Label>
            <input type="text" id="indexDelete" value="0" tabIndex="5">
        </div>
        <div>
            <button type="button" onclick="deleteEntry()">Delete</button>
        </div>
        <div>
            <label>Networth: </label>
            <span id="networth"></span>
        </div>
        <div>
            <label>Assets Total: </label>
            <span id="assetsTotal"></span>
        </div>
        <div>
            <label>Liabilities Total: </label>
            <span id="liabilitiesTotal"></span>
        </div>
        <div>
            <button type="button" onclick="refresh()">Refresh</button>
        </div>
      </form>
      <div>
        <table id="table">
          <tr>
            <td><b>Type</b></td>
            <td><b>Name</b></td>
            <td><b>Balance</b></td>
          </tr>
        </table>
      </div>
  </body>